# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.run.xml
*.bcf
*.pdf
#main.pdf
EMCode/models/em_bert_model.pt
EMCode/__pycache__/data_loader.cpython-311.pyc
EMCode/__pycache__/bert_model_train.cpython-311.pyc
