# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.run.xml
*.bcf
*.pdf
#main.pdf
models/em_bert_model.pt
model/__pycache__/data_loader.cpython-311.pyc
model/__pycache__/bert_model_train.cpython-311.pyc
